[submodule "external/pistis-sophia"]
	path = external/pistis-sophia
	url = https://github.com/wisdomwater/pistis-sophia
[submodule "external/the-way-of-the-pilgrim"]
	path = external/the-way-of-the-pilgrim
	url = https://github.com/wisdomwater/the-way-of-the-pilgrim
[submodule "external/the-journey-home"]
	path = external/the-journey-home
	url = https://github.com/wisdomwater/the-journey-home
[submodule "external/the-greater-mercy"]
	path = external/the-greater-mercy
	url = https://github.com/wisdomwater/the-greater-mercy
